
@{
    ViewBag.Title = "Change Password Success";
}

<!-- Content area -->
<div class="content d-flex justify-content-center align-items-center cp-success-content">

    <!-- Container -->
    <div class="">
        <div class="">
            <div class="text-center">
                <i class="icon-checkmark3 icon-4x text-success-400 border-success-400 border-3 rounded-round p-3 mb-3 mt-1"></i>
                <h5 class="">Password Changed</h5>
                <p class="mb-3">Your Password has been successfully changed.</p>
                <a href="@Url.Action("Index","Home")" class="btn bg-success-800">Go To Home</a>
            </div>
        </div>
    </div>
    <!-- /container -->

</div>
<!-- /content area -->
